{% extends layout %}

{% block title parent() ~ " - Inicio" %}


{% block cuerpo %}
{# include 'index/slider.html.twig' #} <!-- SLIDER DE LA HOME -->
<div id="sub-main" class="container_12">
    <div id="content">
	{% include 'index/servicios.html.twig' %}        

        <div class="clear mb60"></div>
        
	{% include 'index/elegirnos.html.twig' %}	

        <div class="clear mb60"></div>

	{% include 'index/blog.html.twig' %}        

    </div>
    <!-- end of #content -->
</div>
{% endblock %}