{# RESULTADO PEDIDO KO #}

{% extends layout %}

{% block asideRight %}{% endblock %}

{% block content %}
    <section class="contenedorGrande">
        <h1 class="tituloCesta">{{macro.idioma('pedido')}} {{values.idPedido}}</h1>
        <p>{{macro.idioma(values.mensaje)}}</p>
    </section>    
{% endblock %}
