{# TOTAL DEL CARRITO #}

<div class="right">
    <div>{{macro.idioma('total')}} <span id="total">{{values.carrito.totales.Importe|number_format}}</span></div>
    <input type="button" class="btn_azul" value="{{macro.idioma('comprar')}}" />    
</div>