{# ServiciosGarantia #}
{% extends layout %}

{% set widgets = values.widgets %}

{% block content %}
    <div class="portada">
	<p>Template autogenerado para el controlador ServiciosGarantia</p>
	<p>Edítalo en themes/theme2/modules/ServiciosGarantia/index.html.twig</p>
    </div>
{% endblock %}