<div class="widget_search widget">
    <form class="searchform" method="post" action="">
        <input name="controller" value="{{values.controller}}" type="hidden" />
        <input name="action" id="action" value="index" type="hidden" />
        <div class="search-wrapper">
            <label for="s" class="display-none">search text</label>
            <div class="search-input-wrapper">
                <input class="text" type="text" value="{% if values.blog.texto %}{{values.blog.texto}}{%endif%}" placeholder="{{values.TEXTS.buscar}}" name="texto" id="texto" />
            </div>
            <input class="submit" type="submit" value="" />
        </div>
    </form>
</div>