<form>
    <span class="info">{{values.LABELS.ordenarPor}}:</span>
    <span class="celdaMed margen15">
        <select class="select celdaMed">
            <option>Tipo de cámara</option>
            <option>Red</option>
            <option>Green</option>
            <option>Yellow</option>
            <option>Brown</option>
        </select>                  
    </span>

    <span class="celdaPeq margen15">
        <select class="select celdaMed">
            <option>Marca</option>
            <option>Red</option>
            <option>Green</option>
            <option>Yellow</option>
            <option>Brown</option>
        </select>                  
    </span>        
</form>