{# HEADER #}
<div id="header">
    <div id="logo">
        <a href="{{app.path}}/" title="Conasi" id="conasi">
            <span class="remp">Conasi</span>
        </a>
        <p onclick="javascript:location.href = '{{app.path}}/contacto';"><a href="{{app.path}}/contacto" class="remp">Atención al cliente: Lunes a Viernes de 9:30-13:30 h y 15:30-19:00 h. info .arroba. conasi.eu 619 524 895</a></p>
    </div>
</div>