{# LISTADO DE ARTICULOS PAGINADOS #}

{% include '_global/paginacion.html.twig' with {'paginacion':paginacion,'linkBy':linkBy} %}

<ul id="product_list" class="categorie_product clear">
{% set row = 0 %}
{% for articulo in articulos %}
    <li class="{% if (loop.index -row*3) is odd %}regular{% else %}centro{% endif %} clearfix">
        {% include '_global/minifichaProducto.html.twig' with {'articulo' : articulo} %}
    </li>
    {% if loop.index is divisible by(3) %}
        <li class="clear clear_line"></li>
        {% set row = row + 1 %}
    {% endif %}
{% endfor %}
    <li class="clear clear_line"></li>
</ul>

{% include '_global/paginacion.html.twig' with {'paginacion':paginacion,'linkBy':linkBy} %}