{# WIDGET BREADCRUMB #}
<div class="breadcrumb">
    <p>{{macro.idioma('saludo')}}</p>
    <ul class="accountop">
        <li><a href="{{app.path}}/zona-privada" id="try-1">{{macro.idioma('entrar')}}</a></li>
        <li><span>{{macro.idioma('miCuenta')}}</span></li>
    </ul>
</div>