{# Aside left #}
<section class="columna left marginRight20">    
    {% include '_global/wgCategorias.html.twig' %}
    {% include '_global/wgBuscador.html.twig' %}
    {% include '_global/wgMarcas.html.twig' %}       
    {# include '_global/formularioLayout.html.twig' #}     
    {% include '_global/asociate.html.twig' %} 
    {# include '_global/wgBanners.html.twig' #}   
</section> 
