{% import '_global/macros.html.twig' as macro %}

<!DOCTYPE html>
<html lang="es-ES">
<head>
    {% include '_global/meta.twig' %}
    {% include '_global/googleAnalytics.js.twig' %}
    {% include values.archivoCss %}             
</head>
  
<body {% block bodyContacto %}{% endblock %}>
    {% include '_global/avisoCookies.html.twig' %}
    {% block header%}
        {% include '_global/header.html.twig' %}
    {% endblock %}

    {% block head %}
        {% include '_global/head.html.twig' %}
    {% endblock %}    

    <section class="anchoTotal">
        <section class="contenedorCentral" id="contenidoPagina">
            {% block asideLeft %}
                {% include '_global/asideLeft.html.twig' %}
            {% endblock %}

            {% block asideRight %}
                {% include '_global/asideRight.html.twig' %}
            {% endblock %} 
            {% block content %}{% endblock %}             
        </section>
    </section>

    {% block bannerPie %}
        {# include '_global/wgBannersZona2.html.twig' #}   
        {% include '_global/wgArticulosZona.html.twig' with {'zona': 3}%}   
    {% endblock %}  
        
    {% block footer %}
        {% include '_global/footer.html.twig' %}
    {% endblock %}

    <!-- Para que esté disponible el path de la app en todos los java scripts -->
    <script type="text/javascript">
        var appPath = "{{appPath}}";
        var theme = "{{theme}}";
        var language = "{{language}}";
    </script>

    {% include values.archivoJs %}

    <!-- Obtener la resolución del dispositivo de navegación del cliente web -->
    {% if not chequeadaResolucionVisitante %}
    <script type="text/javascript">chequeaResolucionVisitante();</script>
    {% endif %}   
    
    <div id="mensajes" title="Mensaje"></div>
    
    {% if values._debugMode %}
        <div style="clear: both;">
            <pre>{{values._debugValues}}</pre>
        </div>
    {% endif %}      
</body>

</html>