{# BUSCADOR #}

<h3 class="formulario">{{values.LABELS.busqueda}}</h3>
<div class="cajetin">
    <form name="buscador" id="buscador" method="POST" action="">
        <div id="input_oculto">
            <input name="controller" value="Listado"/>
            <input name="action" value="Index"/>
        </div>
        <input name="textoBusqueda" id="textoBusqueda" value="Texto a buscar" type="text" class="buscador"
               onblur="if ($(this).val() === '') $(this).val('Texto a buscar');"
               onfocus="$(this).val('');"/>
        <a href="#" onclick="if ($('#textoBusqueda').val() !== 'Texto a buscar') $('#buscador').submit(); else return false;" title="{{values.LABELS.buscar}}" class="buscador">
            <span class="buscador sprite"></span>
        </a>
    </form>
</div>
