{# CAJA CON LOS 5 PRODUCTOS MAS VISITADOS #}

{% set articulos = values.widgets.getArticulosMasVistos(5) %}

<h3 class="formulario">{{values.LABELS.loMasVisto}}</h3>
<div class="cajetin">
    <ul>
    {% for articulo in articulos %}
        <li><a href="{{articulo.Href.url}}">{{ macro.recortaTexto(articulo.Descripcion,17)}}</a></li>
    {% endfor %}
    </ul>
</div>
