{# MUESTRA LOS 5 ARTÍCULOS VISITADOS EN LA SESION 
   POR ORDEN CRONOLÓGICO ASCENDENTE
#}

{% set articulos = values.widgets.getVisitasSesion('Articulos',5) %}
{% if articulos|length > 0 %}
<div>
    <p>Hoy has visto</p>
    <ul>
        {% for key,articulo in articulos %}
            <li><a href="{{app.path}}{{articulo.Href.url}}">{{articulo.Descripcion}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}
