{# ERROR 404 #}
{% extends layout %}

{% block content %}
    <div id="sub-main" class="container_12">
        <div class="h-wrapper h1 grid_12">
            <div class="testimonial-shortcode-wrapper no-carousel">
                <ul>
                    <li class="testimonial">
                        <p>{{values.TEXTS.error}}</p>
                    </li>
                </ul>
            </div>	
        </div>
    </div>
{% endblock %}