<article id="formulario" class="mensaje">
    <div class="exito mensajeEnviado">{{macro.idioma('mensajeEnviadoExito')}}.</div>	
    {#<div class="error">Por problemas t&eacute;cnicos, el mensaje no ha podido ser procesado en estos momentos.</div>#} {# - MENSAJE DE ERROR ---------- #}
</article>