{# Intranet #}
{% extends layout %}

{% set widgets = values.widgets %}

{% block content %}
	<p>Template autogenerado para el controlador Intranet</p>
	<p>Edítalo en themes/theme1/modules/Intranet/index.html.twig</p>
{% endblock %}