{% extends layout %}

{% block content %}
<section class="central">
    <h2 class="superTitular rojo">{{macro.idioma('registroUsuario')}}</h2>
    {% include 'ZonaPrivada/mensajes.html.twig' %} {# ESTOS SON LOS MENSAJES DE RESPUESTA DEL FORMULARIO #}                                 
    {% include 'ZonaPrivada/formularioRegistro.html.twig' %} {# ESTE ES EL FORMULARIO DE REGISTRO DE USUARIO #}
</section>
{% endblock %}

