{# AvisoCookies #}
{% extends layout %}

{% set widgets = values.widgets %}

{% block content %}
	<p>Template autogenerado para el controlador AvisoCookies</p>
	<p>Edítalo en themes/theme3/modules/AvisoCookies/index.html.twig</p>
{% endblock %}