<div class="grid_12">
	<div class="h-wrapper">
		<h3>{{values.LABELS.nuestrosClientes}}<span class="line"></span></h3>
	</div>
	<div class="clients-wrapper"><span></span>
		<div id="clients-wrap-1">
			<ul class="clients">
				<li>
					<a href="#">
						<img src="images/client/client1.png" alt=""></a>
				</li>
				<li>
					<a href="#">
						<img src="images/client/client2.png" alt=""></a>
				</li>
				<li>
					<a href="#">
						<img src="images/client/client3.png" alt=""></a>
				</li>
				<li>
					<a href="#">
						<img src="images/client/client4.png" alt=""></a>
				</li>
				<li>
					<a href="#">
						<img src="images/client/client5.png" alt=""></a>
				</li>
			</ul>
		</div>
	</div>
</div>