<div class="grid_12">
	<div class="h-wrapper">
		<h3>Our work team<span class="line"></span></h3>
	</div>
</div>
<div class="personnel-shortcode grid_3">
	<div class="personnel-post">Graphic Designer</div>
	<div class="personnel-image"><img src="images/personnel/personnel1.jpg" alt="" />
	</div>
	<div class="personnel-name">Monica Rosini</div>
	<div class="personnel-details">
		<strong>E:</strong>
		<a href="#">monica-rosini@sample.com</a>
		<br />
		<strong>F:</strong>
		<a href="#">facebook.com/monica-rosini</a>
		<br />
		<strong>T:</strong>
		<a href="#">twitter.com/monica-rosini</a>
	</div>
</div>
<div class="personnel-shortcode grid_3">
	<div class="personnel-post">Team Leader</div>
	<div class="personnel-image"><img src="images/personnel/personnel2.jpg" alt="" />
	</div>
	<div class="personnel-name">Bradley Grosh</div>
	<div class="personnel-details">
		<strong>E:</strong>
		<a href="#">bradley-grosh@sample.com</a>
		<br />
		<strong>F:</strong>
		<a href="#">facebook.com/bradley-grosh</a>
		<br />
		<strong>T:</strong>
		<a href="#">twitter.com/bradley-grosh</a>
	</div>
</div>
<div class="personnel-shortcode grid_3">
	<div class="personnel-post">Web Programmer</div>
	<div class="personnel-image"><img src="images/personnel/personnel4.jpg" alt="" />
	</div>
	<div class="personnel-name">Patrick Pool</div>
	<div class="personnel-details">
		<strong>E:</strong>
		<a href="#">patrick-pool@sample.com</a>
		<br />
		<strong>F:</strong>
		<a href="#">facebook.com/patrick-pool</a>
		<br />
		<strong>T:</strong>
		<a href="#">twitter.com/patrick-pool</a>
	</div>
</div>
<div class="personnel-shortcode grid_3">
	<div class="personnel-post">Marketer</div>
	<div class="personnel-image"><img src="images/personnel/personnel6.jpg" alt="" />
	</div>
	<div class="personnel-name">Stella Kromstain</div>
	<div class="personnel-details">
		<strong>E:</strong>
		<a href="#">stella-kromstain@sample.com</a>
		<br />
		<strong>F:</strong>
		<a href="#">facebook.com/stella-kromstain</a>
		<br />
		<strong>T:</strong>
		<a href="#">twitter.com/stella-kromstain</a>
	</div>
</div>