{# Pedidos #}
{% extends layout %}

{% set widgets = values.widgets %}

{% block content %}
    <div class="portada">    
	<p>Template autogenerado para el controlador Pedidos</p>
	<p>Edítalo en themes/theme2/modules/Pedidos/index.html.twig</p>
    </div>        
{% endblock %}