{# Mensaje de confirmación de registro #}
{% extends layout %}

{% block menuCabecera %}{% endblock %} 

{% block contenido %}
<section>
    <p>{{macro.idioma('graciasRegistro')}}</p>
</section>
{% endblock %}