<div class="row vert-offset-top-10 vert-offset-bottom-10">  
    <div class="col-sm-12">
        {% include '_global/slider.html.twig' with {'objetos' : values.sliders}%}
    </div>            
</div>