{# BUSCADOR #}

<h4 class="formulario">{{macro.idioma('busqueda')}}</h4>
<div class="cajetin">
    <form name="buscador" id="buscador" method="POST" action="">
        <input type="hidden" name="controller" value="Listado"/>
        <input type="hidden" name="action" value="Index"/>
        <input name="textoBusqueda" id="textoBusqueda" value="Texto a buscar" type="text" class="buscador"
               onblur="if ($(this).val() === '')
                           $(this).val('Texto a buscar');"
               onfocus="$(this).val('');"/>
        <a href="#" onclick="if ($('#textoBusqueda').val() !== '{{macro.idioma('textoABuscar')}}')
                    $('#buscador').submit();
                else
                    return false;" title="{{macro.idioma('buscar')}}" class="buscador">
            <span class="buscador sprite"></span>
        </a>
    </form>
</div>
