{# CondicionesVenta #}
{% extends layout %}

{% set widgets = values.widgets %}

{% block content %}
	<p>Template autogenerado para el controlador CondicionesVenta</p>
	<p>Edítalo en themes/theme3/modules/CondicionesVenta/index.html.twig</p>
{% endblock %}